body {
      background: lightblue url("images/covid19.jpg") no-repeat center;
      opacity: 0.9;
      filter: alpha(opacity=10);
    }

    #wrapper {
      font-family: verdana;
      margin: 30px auto;
      color: fff;
      padding: 30px;
      background: #4D6879;
      font-size: 14px;
      width: 100%;
      max-width: 1200px;
      box-sizing: border-box;
      background: -webkit-linear-gradient(45deg, #AAD3DF, #EFEFEF);
      background: -o-linear-gradient(45deg, #AAD3DF, #c850c0);
      background: -moz-linear-gradient(45deg, #214A58, #c850c0);
      background: linear-gradient(45deg, #214A58, #c850c0);
    }

    h1 {
      display: block;
      font-size: 30px;
      padding: 20px 0;
      color: #fff;
      text-shadow: 1px 1px 1px #666;
      font-weight: bold;
      text-align: center;
    }

    h2 {
      display: block;
      font-size: 20px;
      padding: 15px 0;
      color: #efefef;
      text-shadow: 1px 1px 1px #666;
      font-weight: bold;
      text-align: left;
    }

    label {
      display: block;
      font-size: 24px;
      padding: 20px 0;
      color: #fff;
      text-shadow: 1px 1px 1px #666;
      font-weight: bold;
    }

    input {
      height: 18px;
      padding: 20px;
      width: 100%;
      font-size: 14px;
      box-sizing: border-box;
      -webkit-border-radius: 6px;
      -khtml-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 0 10px #444;
      -moz-box-shadow: 0 0 10px #444;
      box-shadow: 0 0 10px #444;
      border: 1px solid #fff;
    }

    #periodType {
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 700;
      color: #444;
      line-height: 1.3;
      padding: .6em 1.4em .5em .8em;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      margin: 0;
      border: 1px solid #aaa;
      border-radius: .5em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
    }

    input#submit {
      text-align: center;
      color: #fff;
      height: 50px;
      padding: 0;
      text-shadow: 1px 1px 1px #000;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 50px;
      border: 1px solid #000;
      background: #000;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #000000));
      background: -webkit-linear-gradient(top, #3b3b3b 0%, #000000 100%);
      background: -moz-linear-gradient(top, #3b3b3b 0%, #000000 100%);
      background: -o-linear-gradient(top, #3b3b3b 0%, #000000 100%);
      background: -ms-linear-gradient(top, #3b3b3b 0%, #000000 100%);
      background: linear-gradient(top, #3b3b3b 0%, #000000 100%);
      opacity: 0.5;
    }

    input#submit:hover {
      color: #ccc;
      cursor: pointer;
      opacity: 0.8;
    }

    label {
      text-transform: uppercase;
      font-size: 14px;
    }